# Other IDE files
*.classpath
*.project
*.settings/
.idea/*
*.iml
.DS_Store

# Checkstyle-IDEA config
!.idea/checkstyle-idea.xml

# Build files
.gradle/
/jars/
out/
build/
target/
*.class

# Run directory
/run/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin
